# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
*.so
.venv/
venv/
env/
*.sqlite3

# Django
backend/.env
backend/staticfiles/
backend/media/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache/

# Node
node_modules/
frontend/.next/
frontend/out/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# pnpm
frontend/pnpm-lock.yaml

# Next.js build
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
*.swp
*.swo
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Docker
*.env.docker
frontend/next-env.d.ts
frontend/tsconfig.tsbuildinfo
